<div class="container my-5">
  <div class="row">
    @for(item of products ; track $index){
    <div class="col-md-4 gy-5">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <img
            [src]="item.imgUrl"
            class="card-img-top w-100"
            [alt]="item.productName"
          />
          <p>Price : {{ item.productPrice }}</p>

          <p class="card-text">laptop hp for sale</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
